.modal {
  display: block !important;
  background: #5f5d5db8;
  overflow: hidden;
  .modal-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal-header, .modal-footer {
    border: none;
  }
}
